.App {
  text-align: center;
  
}

.Genre {
  display: flex;
  flex-wrap:wrap;
  
  justify-content: center;
  
}


.Album {
  width: 15%;
}

.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 60%; */
}